.img-mempelai{
	border-radius: 50%;
	width: 200px;
}

.img-header{
	width: 350px;
}

.card-map{
    box-shadow: -1px 3px 32px -10px rgba(33,33,33,0.39);
    -webkit-box-shadow: -1px 3px 32px -10px rgba(33,33,33,0.39);
    -moz-box-shadow: -1px 3px 32px -10px rgba(33,33,33,0.39);
    color: white;
    padding: 10px;
    height:auto;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    }

	.card-foto{
		box-shadow: -1px 3px 32px -10px rgba(33,33,33,0.39);
		-webkit-box-shadow: -1px 3px 32px -10px rgba(33,33,33,0.39);
		-moz-box-shadow: -1px 3px 32px -10px rgba(33,33,33,0.39);
		color: white;
		padding: 5px;
		height:auto;
		width: 100%;
		border-radius: 10px;
		background-color: white;
		}


	.hm-50{
		min-height: 50px;
	}
	
	.hm-60{
	  min-height: 60px;
	}
	.hm-70{
	  min-height: 70px;
	}
	.hm-80{
	  min-height: 80px;
	}
	.hm-90{
	  min-height: 90px;
	}
	.hm-100{
	  min-height: 100px;
	}
	.hm-200{
	  min-height: 200px;
	}
	.hm-300{
	  min-height: 300px;
	}
	
	/*margin*/
	.mt-5{
	  margin-top: 5px;
	 }
	 
	 .mt-10{
	  margin-top: 10px;
	 }
	 
	 .mt-20{
	  margin-top: 20px;
	 }
	 
	 .mt-30{
	  margin-top: 30px;
	 }
	 
	 .mt-40{
	  margin-top: 40px;
	 }
	 
	 .mt-50{
	  margin-top: 50px;
	 }
	 
	 /*padding*/
	 .pt-5{
	   padding-top: 5px;
	 }
	 
	 
	 .pt-10{
	   padding-top: 10px;
	 }
	 
	 .pt-20{
	   padding-top: 20px;
	 }
	 
	 .pt-30{
	   padding-top: 30px;
	 }
	 
	 .pt-40{
	   padding-top: 40px;
	 }
	 
	 .pt-50{
	   padding-top: 50px;
	 }

	 .font-map{
		font-family: "Poppins", Sans-serif;
		font-weight: bold;
		font-size: 14px;
		color: black;
	  }


	  #komentar {
		background-color: rgb(255, 255, 255);
		color: white;
		padding: 15px;
		width: 50%;
		height: 350px;
		overflow: scroll;
		border: 1px solid #ccc;
		border-radius: 20px;
	  }
	   
  
	  .form-book{
		width: 50%;
	 }

	 .btn-komentar{
		background-color:#9ADCFF;
		;
		color: white;
	}
   
	.font-komentar{
		color: rgb(97, 97, 97);
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 14;
	}
   
	.font-nama{
	   color:#9ADCFF;
	   font-family: 'Handlee', cursive;
	   font-size: 22!important;
	}

	.font-body{
		color:#ffffff;
		font-family: 'Handlee', cursive;
		font-size: 18;
	 }

	.music{
        margin-left: 5px;
        margin-bottom: 150px;
        background-color: #69c3ff;
        color: white;
    }

	.font-section{
		color: #CC6;
		font-family: 'Cormorant Garamond', serif;
		font-size: 36px;
		font-weight: bold;
	}

	@media (max-width: 780px) {

		#komentar{
		  width: 100%;
		}
	
		.form-book{
		  width: 100%;
	   }
	   }